@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(29, 29, 29);
    color: #fff;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 500px;
    padding: 4px 4px;
    list-style-type: none;
    border: 2px solid #909096;
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

.navlink a{
    text-decoration: none;
    color: #909096;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 14px;
    border-radius: 14px;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
}

.navlink a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: -10px;
    transform: skewX(-20deg);
    transition: all 0.3s ease;
    z-index: 11;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.15);    

}

.navlink a * {
    z-index: 20;
}

.navlink a:hover::after{
    width: calc(100% + 20px);
}

.navlink a:hover{
    border: 2px solid rgba(45, 45, 46, 0.5);
    color: #08fdd8;
}

.navlinks .active a{
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(45, 45, 46, 0.5);
    color: #08fdd8;

}

section{
    margin: 0rem 12vw;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}


/* HOME SECTION */
/* HOME SECTION */
/* HOME SECTION */

#section-home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 30px;
    height: 100vh;
    overflow: visible;
}

.text-zone h1 {
    font-size: max(6rem, 8vw);
    line-height: max(5.3rem, 6.3vw);
    letter-spacing: -3px;
    position: relative;
    cursor: default;
}

.text-zone h1::before {
    content: '<h1>';
    position: absolute;
    top: -90px;
    left: -15px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone h1::after {
    content: '</h1>';
    position: absolute;
    bottom: -15px;
    right: -100px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone img {
    height: 150px;
    position: absolute;
    top: -5px;
    left: 150px;
    z-index: -1;
}

.text-zone .gray-text {
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 14px;
    cursor: default;
}

/* .hero-line span{
     display: inline-block;
} */

.hero-line span:hover{
    background-color: #08fdd8bb;
    transform: scale(1.2);
    color: #000;
    backdrop-filter: blur(10px);
}


.scroll-down {
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
    cursor: default;

}

.scroll-down--left {
left: -20px;
right: auto;
}

.scroll-down span {
display: inline-block;
animation: scroll 0.5s linear infinite alternate-reverse;
}

@keyframes scroll {
0% {
    transform: translateX(-7px);
}
100% {
    transform: translateX(7px);
}
}

.scroll-down .fas {
transform: rotate(270deg);
margin: 10px;
}


.contact-button{
    text-decoration: none;
    width: min(200px, 100%);
    height: 50px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #08fdd8;
    margin-top: 50px;
    border: 2px solid #08fdd8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 3;
    border-radius: 23px;
}

.contact-button::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #08fdd8;
    top: 0;
    left: -10px;
    transform: skewX(-20deg);
    z-index: 1;
    transition: all 0.3s ease;
}

.contact-button:hover::before{
    width: calc(100% + 20px);
}

.contact-button:hover div{
    color: #2d2d2e;
    z-index: 3;
}



/* WORK SECTION */
/* WORK SECTION */
/* WORK SECTION */
/* WORK SECTION */


.work-section{
    margin-top: 8rem;
    margin-bottom: 8rem;
    height: fit-content;
}

.section-header{
    font-size: max(3rem, 4vw);
    letter-spacing: -3px;
    font-weight: 700;
    color: #08fdd8;
    margin-bottom: 30px;
}

.section-text-zone{
    font-size: 16px;
    line-height: 1.5;
    width: min(70%, 1000px);
    margin-bottom: 60px;
}

.work-container{
    position: relative;
}

.fake-text{
    font-size: 35rem;
    font-weight: 700;
    position: absolute;
    color: rgb(45, 45, 46);
    z-index: -999;
}

.fake-work{
    left: -0vw;
    top: -0rem;
    transform: translate(-20%, -20%);
    letter-spacing: -10px;
}


.projects-wall{
    background-color: #08fdd81c;
    width: fit-content;
    max-width: 100%;
    backdrop-filter: blur(20px);
    margin-bottom: 60px;
    /* border-radius: 20px; */
    /* padding: 10px 10px; */
}

  .projects-wall ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .projects-wall ul li {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
  }
  .projects-wall .wall-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  .projects-wall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .projects-wall ul li:hover .wall-item {
    transform: scale(1.14);
  }
  .projects-wall ul li a.colorbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 253, 216);
    border-radius: 50%;
    opacity: 0;
    transition: all 200ms ease-in-out;
    transform: scale(0.2);
    text-decoration: none;
    color: #2d2d2e;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
  }


  .projects-wall ul li:hover a.colorbox {
    transform: scale(0.6);
    opacity: 1;
  }


  /* BLOG SECTION */

  .blog-section{
    margin-top: 8rem;
    margin-bottom: 8rem;
    height: fit-content;
  }

  .blog-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    position: relative;
  }

  .blog{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .blog-line{
    background-color: rgba(255, 255, 255, 0.2);
    width: 2px;
    height: 20px;
    margin: 30px;
    margin-left: 0;
    transition: all 0.2s ease-in-out;
  }


  .blog h2{
    font-size: 22px;
    font-weight: 600;
  }


  .blog time{
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
  }

  .blog:hover{
    transform: translateX(10px);
  }

  .blog:hover .blog-line{
    transform: rotate(90deg);
  }



/* ABOUT SECTION */

/* .about-section{
    min-height: 100vh;
} */

.about-container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
}

.about-content{
    width: 50%;
}

.socials-container{
    margin-top: 18%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.social-icon{
    display: none;
}

.socials-container li{
    list-style-type: none;
    padding: 6px 20px;
    margin: 30px;
    color: #909096;
    border: 2px solid #909096;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 42px;
    width: 10rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.socials-container li::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: -10px;
    transform: skewX(-20deg);
    transition: all 0.3s ease;
    z-index: 11;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.15);    

}

.socials-container li:hover::after{
    width: calc(100% + 20px);
}

.socials-container li:hover{
    color: #08fdd8;
    justify-content: center;
}

.socials-container li:hover span{
    display: none;
}
.socials-container li:hover .social-icon{
    display: block;
    transform: scale(1.3) translateX(0%);
}

.fake-social{
    bottom: -50%;
    right: -5%;
    opacity: 0.2;
}


/* Subscribe Form Section */

.subscribe-section{
    position: relative;
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.subform-container{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #909096;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    padding: 25px 40px;
}

.fake-subscribe{
    bottom: 53%;
    right: 52%;
    transform: translate(50%,50%) scaleY(2);
    font-size: 14rem;
    letter-spacing: -3rem;
}

.subform-container div:nth-child(2){
    height: 100%;
    width: 60%;
}

.subform-container h2{
    height: 100%;
    margin: 0;
}